<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" requirePermission="false"/>
	</configSections>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<targets>
			<target name="consoleError" xsi:type="ColoredConsole" layout="${machinename} ${exception:format=toString}"/>
			<target name="logfile" xsi:type="File" fileName="c:\websites\logs\MassTransitExample\Publisher.${shortdate}.log">
				<layout xsi:type="CSVLayout">
					<column name="Time" layout="${longdate}" />
					<column name="Machine Name" layout="${machinename}" />
					<column name="Logger" layout="${logger}" />
					<column name="Level" layout="${level}" />
					<column name="Message" layout="${message}" />
					<column name="Error" layout="${exception}" />
					<column name="StackTrace" layout="${exception:format=StackTrace}" />
				</layout>
			</target>
		</targets>
		<rules>
			<logger name="*" minlevel="Trace" writeTo="logfile" />
			<logger name="*" minlevel="Error" writeTo="consoleError" />
		</rules>
	</nlog>
	<log4net debug="false">
		<root>
			<level value="INFO" />
			<appender-ref ref="RollingFile" />
		</root>
		<appender name="RollingFile" type="log4net.Appender.FileAppender">
			<file value="c:\websites\logs\MassTransitExample\Publisher.MassTransit.log" />
			<appendToFile value="true" />
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%-5p %d{hh:mm:ss} %message%newline" />
			</layout>
		</appender>
		<!-- Standard MassTransit Logging Settings -->
		<logger name="MassTransit">
			<level value="INFO" />
		</logger>
	</log4net>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
